* {
  box-sizing: border-box;
}

body {
  background-color: $grey;
  padding: 12px 0px 12px 0px;
}

hr {
  margin-top: $fourSpacing;
  margin-bottom: $singleSpacing;
  background-color: $textColor;
  height: 1px;
  border: 0;
}

.five-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 40px;
  grid-template-areas: 'four four four four .';
}

.columns-two {
  column-count: 2;
  column-gap: $columnGapDesktop;
  width: 100%;
}

.span-two-first {
  grid-area: 1 / 1 / 2 / 3;
}
.span-two-last {
  grid-area: 1 / 3 / 2 / 5;
}
.span-four {
  grid-area: 1 / 1 / 2 / 5;
}
