//colors
$textColor: #2ba5eb;
$grey: #e9e9e9;
$black: #000000;

// spacing
$singleSpacing: 12px;
$fourSpacing: calc($singleSpacing * 4);

// sizes
$textStandard: 18px;

// columns
$columnGapDesktop: 40px;
