.game {
  .game-wrapper {
    padding: 0 $desktopPadding 0 $desktopPadding;
    margin-bottom: $fourSpacing;

    .title {
      display: flex;
      align-items: baseline;

      h1 {
        margin-right: $doubleSpacing;
      }

      .game-triggers {
        button {
          cursor: pointer;
          border: 0;
          background: transparent;
          p {
            font-weight: 500;
            color: $textColor;
            text-decoration: underline;
            margin: 0;
            text-underline-offset: 1.5px;
            opacity: 0.5;

            &.active {
              opacity: 1;
            }
          }

          &:hover {
            p {
              text-decoration: none;
            }
          }
        }
      }
    }

    .gaming-field {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: row;
      pointer-events: none;

      .gamer-wrapper {
        width: 35%;
        height: 100%;

        .gamer {
          padding: 0 $desktopPadding 0 $desktopPadding;

          h3 {
            margin-bottom: $singleSpacing;
          }
          p {
            margin-bottom: 6px;
            font-weight: 500;
          }
        }
      }
      .board-wrapper {
        position: relative;
        width: 30%;
        height: 100%;

        .board-outer {
          height: 0px;
          padding-bottom: 100%;
          img {
            // background-color: orange;
            width: 100%;
            height: auto;
            transform: scale(1.4);
          }

          .board-players {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: scale(1.4);
            background-color: rgba($color: #ff0000, $alpha: 0);

            .player {
              position: absolute;
              top: 0;
              left: 0;
              width: 6%;
              height: 6%;
              border-radius: 100%;
              background-color: $playerColor;
              opacity: 0;
            }

            .otherPlayer {
              background-color: $otherPlayerColor;
            }
          }
        }
      }
      .other-players-wrapper {
        width: 35%;
        height: 100%;

        h3 {
          margin-bottom: calc($singleSpacing - 6px);
        }

        .other-players {
          padding: 0 $desktopPadding 0 $desktopPadding;
        }
      }
    }

    .dice-wrapper {
      padding-top: 10vw;
      height: 100px;
      width: 100;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 100px;

      img {
        width: 50px;
        margin-bottom: 8px;
      }
    }

    .connected-account {
      position: fixed;
      bottom: 10px;
      left: 0px;

      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;
      pointer-events: none;

      p {
        margin: 0;
        padding: 5px 10px 5px 10px;
        background-color: $white;
        color: $textColor;
        border-radius: 4px;
        font-weight: 500;
        font-size: 12px;
      }
    }
  }

  .field-info {
    display: flex;
    justify-content: flex-end;
    p {
      display: inline-block;
      background-color: $white;
      padding: 4px 12px 4px 12px;
      font-size: 32px;
      line-height: 42px;
      display: inline-block;
      margin: 0;
    }
  }

  .company-info {
    width: 100%;
    margin-bottom: $fourSpacing;
    padding-bottom: $doubleSpacing;
    background-color: $white;

    .content {
      padding: 0 $desktopPadding 0 $desktopPadding;
      margin-bottom: 20px;
    }

    button {
      font-size: 32px;
      line-height: 32px;
      color: $white;
      background-color: $textColor;
      padding: 6px 20px 12px 20px;
      border: 0;

      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $textColor;
        background-color: $grey;
      }
    }

    .project {
      padding: $doubleSpacing $desktopPadding 0 $desktopPadding;
      margin: 0;
      padding-bottom: 50px;

      h3 {
        font-size: 48px;
        line-height: 62px;
        margin-bottom: 0.4em;
      }

      .ar {
        .qr-code {
          width: 100px;

          img {
            width: 100px;
            height: 100px;
          }

          p {
            text-align: center;
          }
        }
      }
    }
  }
}
